res
other
icon
build

template.html
desktop.ini

extension-shop
version/archive
version/archive[0-9][0-9][0-9][0-9]
version/*.*
version/assets/webview/extensions
version/assets/webview/theme
version/assets/webview/workspace-scripts
version/assets/webview/workspace.html
version/assets/webview/extension-loader.js